#right-panel {
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}

#right-panel select, #right-panel input {
font-size: 12px;
}
#submit {
visibility: hidden
}
#possibility-title {
visibility: hidden
}
#right-panel select {
width: 100%;
}
#possibility0:hover {
 background-color: LightGray;
}
#possibility1:hover {
 background-color: LightGray;
}
#mode{
visibility: hidden
}

#right-panel i {
font-size: 12px;
}
html, body {
height: 100%;
margin: 0;
padding: 0;
}
#map {
height: 100%;
float: left;
width: 50%;
height: 100%;
}
#middle-panel {
margin: 20px;
border-width: 2px;
width: 10%;
height: 400px;
float: left;
text-align: left;
padding-top: 0;
}
#right-right-panel {
border-width: 2px;
width: 35%;
float: right;
text-align: left;
padding-top: 0;
}
#right-below-panel {
border-width: 2px;
width: 35%;
float: right;
}
#directions-panel {
margin-top: 10px;
padding: 10px;
}
